<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.security.example.demo.mapper.UserMapper">
    <!-- 自动生成,请修改 USER.xml -->
    <resultMap id="BaseResultMap"  type="com.security.example.demo.model.User">
        <id column="ID" property="id" jdbcType="BIGINT" javaType="Long"/>
        <result column="ENABLE" property="enable" jdbcType="BIT" javaType="Boolean"/>
        <result column="LOCKED" property="locked" jdbcType="BIT" javaType="Boolean"/>
        <result column="PHONE_NO" property="phoneNo" jdbcType="CHAR" javaType="String"/>
        <result column="PASSWORD" property="password" jdbcType="VARCHAR" javaType="String"/>
        <result column="USERNAME" property="username" jdbcType="VARCHAR" javaType="String"/>
    </resultMap>


    <sql id="Base_Column_List">
        ID,ENABLE,LOCKED,PHONE_NO,PASSWORD,USERNAME
    </sql>
    
    <sql id="Base_Where">
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
            <if test="id != null">AND ID = #{id,jdbcType=BIGINT}</if>
            <if test="enable != null">AND ENABLE = #{enable,jdbcType=BIT}</if>
            <if test="locked != null">AND LOCKED = #{locked,jdbcType=BIT}</if>
            <if test="phoneNo != null">AND PHONE_NO = #{phoneNo,jdbcType=CHAR}</if>
            <if test="password != null">AND PASSWORD = #{password,jdbcType=VARCHAR}</if>
            <if test="username != null">AND USERNAME = #{username,jdbcType=VARCHAR}</if>
        </trim>
    </sql>


    <!--插入表:USER-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id" >
        INSERT INTO USER
        <trim prefix="(" suffix=")" suffixOverrides=",">
            
            <if test="enable != null">ENABLE,</if>
            <if test="locked != null">LOCKED,</if>
            <if test="phoneNo != null">PHONE_NO,</if>
            <if test="password != null">PASSWORD,</if>
            <if test="username != null">USERNAME</if>
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            
            <if test="enable != null">#{enable,jdbcType=BIT},</if>
            <if test="locked != null">#{locked,jdbcType=BIT},</if>
            <if test="phoneNo != null">#{phoneNo,jdbcType=CHAR},</if>
            <if test="password != null">#{password,jdbcType=VARCHAR},</if>
            <if test="username != null">#{username,jdbcType=VARCHAR}</if>
        </trim>
    </insert>

    <!--更新表:USER-->
    <update id="update" >
        UPDATE /*MS-USER-UPDATE*/ USER
        <trim prefix="SET" suffixOverrides=",">
            <if test="enable != null">ENABLE          = #{enable,jdbcType=BIT},</if> 
            <if test="locked != null">LOCKED          = #{locked,jdbcType=BIT},</if> 
            <if test="password != null">PASSWORD        = #{password,jdbcType=VARCHAR},</if> 
            <if test="username != null">USERNAME        = #{username,jdbcType=VARCHAR}</if> 
		</trim>
        WHERE
            ID              = #{id,jdbcType=BIGINT}
            AND PHONE_NO        = #{phoneNo,jdbcType=CHAR}
    </update>

    <!--根据主键删除数据:USER-->
    <delete id="deleteByPrimary" >
        DELETE /*MS-USER-DELETEBYPRIMARY*/ FROM
            USER
        WHERE
            ID = #{id,jdbcType=BIGINT}
            AND PHONE_NO = #{phoneNo,jdbcType=CHAR}
    </delete>

    <!--根据主键获取数据:USER-->
    <select id="getByPrimary" resultMap="BaseResultMap">
        SELECT /*MS-USER-GETBYPRIMARY*/  <include refid="Base_Column_List" />
        FROM USER
        WHERE
            ID = #{id,jdbcType=BIGINT}
            AND PHONE_NO = #{phoneNo,jdbcType=CHAR}
    </select>

    <!--查询获取全部数据:USER-->
    <select id="getAll" resultMap="BaseResultMap">
	    SELECT /*MS-USER-GETALL*/  <include refid="Base_Column_List" />
	    FROM USER
	    <include refid="Base_Where"/>
	    ORDER BY id DESC
    </select>

    <!--查询获取第一条数据:USER-->
    <select id="getOne" resultMap="BaseResultMap">
	    SELECT /*MS-USER-GETONE*/  <include refid="Base_Column_List" />
	    FROM USER
	    <include refid="Base_Where"/>
	    LIMIT 1
    </select>

    <!-- 根据手机号获取用户信息 -->
    <select id="findUserByPhoneNo" resultMap="BaseResultMap">
        SELECT /*MS-USER-GETONE*/  <include refid="Base_Column_List" />
        FROM USER
        where phone_no = #{phoneNo,jdbcType=CHAR}
    </select>

    <!-- 根据id获取用户信息 -->
    <select id="getUserById" resultMap="BaseResultMap">
        SELECT /*MS-USER-GETONE*/  <include refid="Base_Column_List" />
        FROM USER
        where id = #{id,jdbcType=BIGINT}
    </select>
</mapper>
